@charset "utf-8";
/* CSS Document */


/*	請將first 裡的 jumbotron class 的高度設定為 50vh。*/
#first .jumbotron{
	

	height: 70vh;
	
}


/*	請將first 裡的 h1 標籤的文字顏色為 brown。*/
#first h1{

	/* C-6 */
	color: brown;
}

#introfirst img
{
	
	/* D-5 */
	width: 300px;
}

#introsecond a{
	
	text-decoration: none;
	color: #2B02B3;
	
	}
#introsecond{
	
	padding-top: 100px;
	padding-bottom: 50px;
}

#accordionExample img{
	
	border-radius: 50px;
	
}

#QAsecond{
	
margin-top: 80px;	
}

.accordion{
	
	max-width: 400px;
	box-shadow: 0 0 10px rgba(255,0,0,0.2);
	border-radius: 5px;
	overflow: hidden;
	font-family:fantasy;
	
}

.bodybg1{
   color:black;
   background-color: darkred;
	
}

.bodybg2{
	
	color:aliceblue;
	background-color:grey;
	font-family: cursive;
	tab-size: 20px;
}


#location{
     
	 padding-top:50px;
	 padding-left:20px;

}